@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

*:focus {
    outline: none;
}

:root {
    --primary: #f39a94;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
}

/* login page */
.login-card {
    padding-top: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 12rem;
    height: 300px;
    border-radius: 11px;
    box-shadow: 7px 7px 14px #dbdbdb,
        -7px -7px 14px #dbdbdb;

}

/* signup page */
.signup-card {
    padding-top: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 12rem;
    height: 350px;
    border-radius: 11px;
    box-shadow: 7px 7px 14px #dbdbdb,
        -7px -7px 14px #dbdbdb;
}

/* base styles & title */
body {
    font-family: "Noto Serif";
    color: var(--secondary);
}

.App {
    max-width: 960px;
    margin: 0 auto;
}

.title h1,
.logoutBtn {
    color: var(--primary);
    font-size: 1.2rem;
    letter-spacing: 2px solid black;
    font-weight: normal;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
}

.title .logoutBtn:hover {
    background-color: rgb(255, 243, 221);
    border-radius: 2px solid black;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.title h2,
.title p {
    text-align: center;
}

.title h2 {
    margin-top: 60px;
    font-size: 2.6rem;
}

/* upload form styles */
form {
    margin: 30px auto 10px;
    text-align: center;
}

.uploadBtn input {
    height: 0;
    width: 0;
    opacity: 0;
}

.uploadBtn {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    margin: 10px auto;
    line-height: 30px;
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.uploadBtn:hover {
    background: var(--primary);
    color: white;
}

.output {
    height: 60px;
    font-size: 0.8rem;
}


/* progress bar styles */
.progress-bar {
    height: 5px;
    background: var(--primary);
    margin-top: 20px;
}

/* image grid styles */
.img-grid {
    margin: 20px auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.grid-img {
    width: 100%;
    height: 500px;
    background-color: #bebebe;
    border-bottom: 2px solid black solid black;
}

.post-card {
    min-height: 350px;
    box-shadow: 7px 7px 14px #dbdbdb,
        -7px -7px 14px #dbdbdb;
    border-radius: 5px;
}

.post-info {
    display: flex;
    justify-content: space-between;
}

.post-desc {
    margin-left: 10px;
}

.caption {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

small{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.deleteBtn {
    cursor: pointer;
    height: 30px;
    margin-top: 30px;
}

/* upload modal styles */
.upload-post {
    position: fixed;
    right: 50px;
    top: 150px;
}

.upload-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
}

.caption-input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    text-align: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 18rem;
}

.uploadModal {
    width: 20rem;
    min-height: 20rem;
    max-height: 28rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    border-radius: 11px;
    box-shadow: 7px 7px 14px #dbdbdb,
        -7px -7px 14px #dbdbdb;
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* media queries */
@media screen and (max-width:1280px) {
    .upload-post {
        position: static;
        display: grid;
        place-items: center;
    } 
}

@media screen and (max-width:768px) {
    .img-grid{
        width: 90%;
    }
}

/* modal styles */